# Common
.vscode/

# Block Folder Stucture
logs/
secrets/

# Allow Certain Folder Structure
!appdata/cloudflare-ddns/*
appdata/cloudflare-ddns/config.json

appdata/adguardhome/
appdata/mysql/
appdata/semaphore/
appdata/portainer/
appdata/pgadmin/
appdata/step/
appdata/plex/

# Security
*.env
.env.dns
.env.prod
.env.media